<% title "Edit Comment" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @comment %> |
  <%= link_to "View All", polymorphic_comments_path(@current_user,@comment.commentable, @comment) %>
</p>
