<% title "Comments" %>

<table>
  <tr>
    <th>Author</th>
    <th>Approved</th>
  </tr>
  <% for comment in @comments %>
    <tr>
      <td><%=h comment.user.name %></td>
      <td><%=h comment.approved %></td>
      <td><%= link_to "Show", edit_polymorphic_comment_url([@current_user, comment.commentable, comment]) %></td>
      <td><%= link_to "Destroy", comment, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>