<% title "Comment" %>

<p>
  <strong>Text:</strong>
  <%=h @comment.text %>
</p>
<p>
  <strong>User:</strong>
  <%=h @comment.user.name %>
</p>
<p>
  <strong>For:</strong>
  <%=h @comment.commentable.name %>
</p>