body {
  background-color: #012229;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

body a{
	color: #012229;
	text-decoration: none;
}

a img {
  border: none;
} 
                       
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
/*  margin: 0 auto;*/
  background-color: #FFFFFF;
  padding: 20px 40px;
/*  border: solid 1px black;*/
  margin-top: 20px;
  margin-bottom: 20px;
	-moz-border-radius: 5px;
	color: #012229;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
