<% semantic_form_for [@current_user, @group] do |f| %>
  <%= f.error_messages %>    
  <% f.inputs @group do %>
  <p>
    <%= f.input :name, :required => true %>
  </p>
  <p>
    <%= f.input :description, :required => true %>
  </p>
  <% end %>
  <% f.buttons do %>  
    <p><%= f.commit_button %></p>
  <% end %>  
<% end %>
