<% semantic_form_for [@current_user, @video] do |f| %>
  <% f.inputs @video do %>
    <p>
      <%= f.input :name %>
    </p>
    <p>
      <%= f.input :author %>
    </p>
    <p>
      <%= f.input :video, :as => :file, :required => true %>
    </p>
  <% end %>
  <% f.buttons do %>  
    <p><%= f.commit_button %></p>
  <% end %>
<% end %>
