<!-- AddThis Button BEGIN -->
<br />    
<strong>Share it</strong>  
<br />
<br />
<div class="addthis_toolbox addthis_default_style addthis_32x32_style ">
<a class="addthis_button_facebook" addthis:title="Eu tou funfando" addthis:description="Minha descricao de teste"></a>
<a class="addthis_button_twitter" addthis:title="I'm testing my Graduation project"></a>
<a class="addthis_button_orkut" addthis:title="Titulo de teste" addthis:description="Minha descricao de teste"></a>  
</div>
<script type="text/javascript">
  var addthis_config = {"data_track_clickback":true};       
  var addthis_share = {
    url_transforms: {
      shorten: {
        twitter: 'bitly',
        facebook: 'bitly',
        orkut: 'bitly'
      }
    },
    shorteners: {
      bitly: {
        username: 'tspaulino' ,
        apiKey: 'R_d51017f9b485b7ffdf077c70c8a31ea7'
      }
    },
    templates: {
      twitter: "I liked '{{title}}' on Share all! Go and check it out! - {{url}}"
    }       
  };
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=tspaulino"></script>
<!-- AddThis Button END -->
