<div id="player">
</div>
<script type="text/javascript">
    jwplayer("player").setup({
        flashplayer: "/javascripts/player.swf",
        type: "sound",
        file: "/system/musics/1/original/hero.mp3",
        height: 270,
        width: 480
    });
</script>