<% title "Document" %>

<p>
  <strong>Name:</strong>
  <%=h @document.name %>
</p>

<p>
  <%= link_to "Edit", edit_user_document_path(@current_user, @document) %> |
  <%= link_to "Destroy", [@current_user, @document], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", user_documents_path(@current_user) %>
</p>
