<% semantic_form_for [@album.user, @album] do |f| %>
  <%fields_for "album[image_attributes][]", @album.images.build do |p| %>
    <%= p.label "Select a image"%>
    <%= p.select :id, (@current_user.images - @album.images).map {|a| [a.name, a.id]}%>
  <% end %>
  <% f.buttons do %>  
     <p><%= f.commit_button %></p>
   <% end %>
<% end %>